@{
    ViewData["Title"] = "Home Page";
}

@*
<div class="latest-product">
    <h2 class="section-title">Son Ürünler</h2>
    <div class="product-carousel">

   <div class="single-product">
                <div class="product-f-image">
                    <div class="product-hover">
                        <a href="/Home/AddToCart/" class="add-to-cart-link">
                            <i class="fa fa-shopping-cart"></i> Sepete Ekle
                        </a>
                    </div>
                    <h2><a href="single-product.html"></a></h2>
                </div>
                </div>

</div>
</div>

*@